{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
    <h1 class="title">Newsletter Signup</h1>
    <hr class="divider bg-dark">
</div>
<div class="row">
    <div class="col-12">
        <form action="{% url 'newsletter' %}" method="POST" id="newsletter-form">
            {% csrf_token %}
            <fieldset class="checkout-form-inputs px-4 py-4">
                {{ newsletter_form.as_p }}
            </fieldset>
            <div class="text-center">
                <button id="submit-newsletter" class="btn btn-success">Signup</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}