<script type="text/javascript">

    // Increase the item quantity in basket
   $('.increase').click(function(e) {
        e.preventDefault();
        var incrementInput = $(this).closest('.input-group').find('.qty_input')[0];
        var quantity = parseInt($(incrementInput).val());
        $(incrementInput).val(quantity + 1);

    });

    // Decrease the item quantity in basket
    $('.decrease').click(function(e) {
        e.preventDefault();
        var incrementInput = $(this).closest('.input-group').find('.qty_input')[0];
        var quantity = parseInt($(incrementInput).val());
        $(incrementInput).val(quantity - 1);

    });

</script>