{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Checkout</h1>
<hr class="divider bg-dark">

{% if basket_items %}
    <div class="text-center pb-3">
        <div class="text-uppercase">Delivery Charge: £{{delivery}} | Total: £{{grand_total}}</div>
        <div class="text-uppercase"><a href="{% url 'basket' %}">Go back to my basket</a></div>
    </div>
{% else %}
<div class="text-center pb-3">
    <div class="text-uppercase"><a href="{% url 'basket' %}">Oh no, there are no items in the basket | Go back to my basket</a></div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6 col-xs-12">
        <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
            {% csrf_token %}
            <fieldset class="checkout-form-inputs px-4 py-4">
                {{ order_form.name | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.city | as_crispy_field }}
                {{ order_form.address1 | as_crispy_field }}
                {{ order_form.address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
            </fieldset>
            <fieldset class="checkout-form-inputs">
                <div class="customer-card" id="card-element"></div>
                <div class="customer-card" id="card-errors"></div>
            </fieldset>
           <div class="enter-payment text-center">
                <button id="submit-payment" class="btn btn-success">Pay</button>
           </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_adjuster_script.html' %}
<script type="text/javascript">
    // Update item quantity
    $('.update-basket').click(function(e) {
        var form = $(this).prev('.amend-basket-form');
        form.submit();
    })

    // Remove item from basket NOT WORKING
    $('.remove-product').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var pk = $(this).attr('id').split('remove_')[1];
        var weight = $(this).data('weight');
        var url = `/basket/remove/${pk}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'weight': weight};
        
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}