{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="title">Basket</h1>
<hr class="divider bg-dark">

</div>
{% if basket_items %}
    <div class="text-center pb-3">
        <div class="text-uppercase">Delivery Charge: £{{delivery}} | Total: £{{grand_total}}</div>
    </div>
    {% for product in basket_items %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Remove</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="border-0">
                        <div class="p-2">
                            <img src="{{ product.image }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="d-inline-block align-middle">
                                <h5 class="mb-0"> <a href="#"
                                        class="basket-text text-dark text-decoration-none d-inline-block align-middle">{{ product.product.name }}</a></h5>
                            </div>
                        </div>
                    </th>
                    <td class="border-0 align-middle"><strong>£{{ product.total }}</strong></td>
                    {% if product.weight %}
                    <td class="border-0 align-middle"><strong>{{ product.quantity.item_weight }}</strong></td>
                    {% else %}
                    <td class="border-0 align-middle"><strong>{{ product.quantity }}</strong></td>
                    {% endif %}
                    <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
{% else %}
<div class="container text-center">
    <h3>There are no items in your basket</h3>
    <a class="title " href="{% url 'products' %}">Continue Shopping</a>
</div>
{% endif %}
</div>
{% endblock %}