{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
    <h1 class="title">Contact us</h1>
    <hr class="divider bg-dark">
</div>
<div class="text-center">
    <a class="text-dark" href="{% url 'newsletter' %}">Sign up to our newsletter</a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2 col-lg-2">
        </div>
        <div class="col-sm-8 col-lg-8">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="{% url 'contact' %}" method="POST" id="contact-form">
                            {% csrf_token %}
                            <fieldset class="contact-form-inputs px-4 py-4">
                                {{ contact_form.name | as_crispy_field }}
                                {{ contact_form.title | as_crispy_field }}
                                {{ contact_form.order_id | as_crispy_field }}
                                {{ contact_form.email | as_crispy_field }}
                                {{ contact_form.body | as_crispy_field }}
                                {{ contact_form.urgent | as_crispy_field }}
                            </fieldset>
                            <div class="text-center">
                                    <button id="submit-contact" class="btn btn-warning">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}