{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="title">Products Page</h1>

{% for product in products %}
  <div class="card">
    <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.info }}</p>
      <button class="btn btn-info">Add to Basket</button>
      <p class="d-inline pl-5">£ {{ product.price|floatformat:2 }} </p>
      <P>Category: {{ product.category }}</P>
    </div>
  </div>
{% endfor %}

{% endblock %}