{% extends "base.html" %}
{% load static %}

{% block content %}

{% if categories %}
{% for category in categories %}
<a class="text-decoration-none" href="{% url 'products' %}?category={{ category.category }}">
  <h1 class="title">Our {{ category.category }}</h1>
  <hr class="divider bg-dark">
</a>
{% if category.category == 'Tea' %}
<strong><p class="text-center">All our tea is weighted at 100g</p></strong>
{% endif %}

{% endfor %}
{% else %}
<h1 class="title">Our Products</h1>
<hr class="divider bg-dark">
<strong><p class="text-center">All our tea is weighted at 100g</p></strong>
{% endif %}

{% for product in products %}
<div class="card">

  <a href="{% url 'product_info' product.pk %}">
    <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
  </a>

  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.info }}</p>
    <P>Category: {{ product.category }}</P>
    <p>£ {{ product.price|floatformat:2 }} </p>
   <form action="{% url 'add_to_basket' product.pk %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <p class="d-inline">Quantity:</p>
    <input class="col-2" type="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" id="id_qty_{{ product.id }}">
    </div>
    <input class="btn btn-info d-block" type="submit" value="Add to Basket">
    

    <input class="btn btn-info" type="hidden" name="redirect_url" value="{{ request.path }}">

   </form>
  </div>
</div>
{% endfor %}

{% endblock %}